<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
    <!-- <settings>

        <setting name="jdbcTypeForNull" value="NULL"/>

    </settings> -->
  	<typeAliases>
  		<typeAlias type="java.lang.Long" alias="Long"/>/>
		<typeAlias type="com.iu.s2.board.BoardDTO" alias="QNADTO"/>
		<typeAlias type="com.iu.s2.qna.QNADTO" alias="QNADTO"/>
		<typeAlias type="com.iu.s2.util.Pager" alias="Pager"/>
  	</typeAliases>
  </configuration>
